<div class="container">
    <div class="row">
        <div class="card-wrapper" matRipple>
            <mat-card>
              <mat-card-header>
                <mat-card-title>Ondřej Svoboda</mat-card-title>
                <mat-card-subtitle>
                  Learn Web Development with Easy Tutorials
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p style="margin-left: 3vh;">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat.
                </p>
                <img mat-card-image style="width: 5vh; height: 5vh; margin-left: 1vh;" src="../../assets/angular.svg" alt="Angular Logo">
                <img mat-card-image style="width: 5vh; height: 5vh; margin-left: 5vh; margin-bottom: 2vh;" src="../../assets/spring-original.svg" alt="Spring Logo">
              </mat-card-content>
            </mat-card>
          </div>
    </div>
</div>