<div class="container col-md-3">
    <h2>Uživatel</h2>
    <div class="alert alert-danger" *ngIf="errorMessage">
        {{ errorMessage }}
    </div>
    <form #f="ngForm" (ngSubmit)="f.form.valid && updateUser()">

        <div class="form-group">
            <label for="name">Jméno</label>
            <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            [(ngModel)]="user.name"
            #name="ngModel"
            required
            >
            <div class="alert-danger" *ngIf="f.submitted && !name.valid">
                Zadejte jméno
            </div>
        </div>

        <div class="form-group">
            <label for="password">Heslo <small> (8 znaků, 1 číslo, 1 speciální znak)</small></label>
            <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            [(ngModel)]="user.password"
            #password="ngModel"
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"
            required
            >
            <div class="alert-danger" *ngIf="f.submitted && !password.valid && password.errors?.['pattern']">
                Zadejte heslo min. 8 znaků dlouhé s alespoň jedním velkým písmenem a číslem
                {{ password.errors?.['pattern'].value  }}
            </div>
        </div>

        <div class="form-group">
            <label for="password">Potvrďte heslo</label>
            <input type="password" 
            id="confirmed" 
            name="confirmed" 
            class="form-control" 
            [(ngModel)]="confirmedPassword" 
            #confirmed="ngModel"
            required
            >
            <div class="alert-danger" *ngIf="f.submitted && confirmed.value !== password.value">
                Hesla nejsou shodná
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Uložit změny</button>
    </form>
</div>
