<div class="container">
    <div class="navbar float-right">
        <h2>{{ category.title }} </h2>
        <a mat-button [routerLink]="['/', category.slug, 'new']" class="ms-auto btn-success" *ngIf="canCreate()">Nový příspěvek</a>
    </div>
    <hr>
    <div class="row text-black mb-2 w-50 col-md-3 p-3" matRipple>
        <mat-card class="bg-warning" *ngFor="let article of category.article_list">
            <mat-card-title>{{ article.title }}</mat-card-title>
            <button mat-button [routerLink]="['/', category.slug, article.slug]">Zobrazit</button>
        </mat-card>
    </div>
</div>