<div class="container">
    <div class="navbar float-right">
        <h2>{{ category.title }} </h2>
        <a mat-button [routerLink]="['/', category.slug, 'new']" class="ms-auto btn-success" *ngIf="canCreate()">Nový
            příspěvek
        </a>
    </div>
    <hr>
    <div class="row text-black mb-2" matRipple>
        <a *ngFor="let article of category.article_list" mat-button [routerLink]="['/', category.slug, article.slug]" style="text-align: left;;">
            <mat-card color="primary">
                <mat-card-title>{{ article.title }}</mat-card-title>
                <mat-card-subtitle> {{ article.create_time | date: 'dd/MM/YYYY HH:mm:ss' }} </mat-card-subtitle>
            </mat-card>
        </a>
    </div>
</div>