.spacer{
    flex: 1 1 auto;
}
a{
    font-weight: bold;
}
.app-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
    background-color: #7b1fa2;
}
.app-footer {
    position: sticky;
    position: -webkit-sticky;
    top: 100vh;
}
.navbar-toggler{
    background-color: white;
}