<div class="container-fluid">
    <div class="navbar navbar-expand navbar-dark bg-dark mb-2">
        <a href="https://angular.io" class="navbar-brand ms-1">
            Nazdar
        </a>
        <div class="navbar-nav me-auto">
            <li class="nav-item" *ngIf="isAdmin()">
                <a [routerLink]="['/admin']" routerLinkActive="active" class="nav-link">Admin</a>
            </li>
            <li class="nav-item" *ngIf="isEditor()">
                <a [routerLink]="['/editor']" routerLinkActive="active" class="nav-link">Editor</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/domu']" routerLinkActive="active" class="nav-link">Domů</a>
            </li>

            <li class="nav-item" *ngFor="let category of categories">
                <a [routerLink]="['/', category.slug]" routerLinkActive="active" class="nav-link">{{ category.title }}</a>
            </li>
        </div>

        <div class="navbar-nav ms-auto" *ngIf="!currentUser?.id">
            <li class="nav-item">
                <a [routerLink]="['/registrace']" routerLinkActive="active" class="nav-link">Zaregistrovat</a>
            </li>
            <!--<li class="nav-item me-1">
                <a [routerLink]="['/login']" routerLinkActive="active" class="nav-link">Přihlásit</a>
            </li>-->
        </div>

        <div class="navbar-nav ms-auto" *ngIf="currentUser?.id">
            <li class="nav-item">
                <a [routerLink]="['/profil']" routerLinkActive="active" class="nav-link">
                    Přihlášen jako: {{ currentUser.username }}
                </a>
            </li>
            <li class="nav-item me-1">
                <a (click)="logout()" class="nav-link">Odhlásit</a>
            </li>
        </div>

    </div>

    <div class="container-fluid mr-auto mb-2">
        <router-outlet></router-outlet>
    </div>

</div>