<div class="container col-md-8">
    <h2>Nový článek</h2>
    <div *ngIf="errorMessage">
        {{ errorMessage }}
    </div>
    <form #f="ngForm" (ngSubmit)="f.valid && save()">
        <div class="form-group">
            <label for="title">Titulek</label>
            <input type="text" 
            id="title"
            name="title"
            class="form-control"
            [(ngModel)]="article.title"
            #title="ngModel"
            required>
        </div>
        <div class="alert-danger" *ngIf="f.submitted && !title.valid">
            Zadejte titulek
        </div>

        <div class="form-group">
            <label for="category_slug">Vyberte kategorii <small>Podle slugu</small></label>

            <select class="form-select" 
            *ngIf="article.category_slug"
            id="category_slug"
            name="category_slug"
            [(ngModel)]="article.category_slug"
            #category_slug="ngModel">
                <option selected> {{ article?.category_slug }} </option>
                <option *ngFor="let category of categoryList">
                        {{ category.slug }}
                </option>
                <div class="alert-danger" *ngIf="f.submitted && !category_slug.valid">
                    Chyba
                </div>
            </select>
        </div>

        <div class="form-group">
            <label for="slug">Zadejte slug
                <span matTooltip='Identifikátor článku v URL, například pokud je titulek "běžel pes přes oves", tak slug bude bezel-pes-pres-oves' [matTooltipPosition]="'right'">
                    <img src="../../../../assets/question-mark.png" data-toggle="tooltip" title="pokus" width="16" height="16" fill="currentColor"> 
                </span>
            </label>
            <input type="text"
            id="slug"
            name="slug"
            class="form-control"
            [(ngModel)]="article.slug"
            #slug="ngModel"
            pattern="^[a-z0-9]+(?:-[a-z0-9]+)*$" 
            required />
            <div class="alert-danger" *ngIf="f.submitted && (!slug.valid || slug.errors?.['pattern'])">
                Špatný formát
            </div>
        </div>

        <div class="form-group">
            <label for="content">Obsah</label>
            <angular-editor
            type=""
            id="content"
            name="content"
            class="form-control"
            [(ngModel)]="article.content"
            #content="ngModel"
            required>
            </angular-editor>

            <div class="alert-danger" *ngIf="f.submitted && !content.valid">
                Článek musí mít obsah
            </div>
        </div>
        <button class="btn btn-success w-100 mt-3" type="submit">
            Uložit
        </button>
    </form>
</div>