<div class="container mt-3">
  <div class="row col-md-12 col-sm-12 main-content">
    <div matRipple>
      <mat-card>
        <mat-card-content style="margin-left: 2.5vh;">
          <ul>
            <li><p>Docela rychle píšu - <a class="text-white" target="_blank" href="https://www.spsmb.cz/kultura/soutez-v-rychloopisu/">link</a><br>Měl jsem se účastnit mistrovství ČR, místo toho jsem se začal účastnit distanční výuky</p></li>
            <li><p>Před pandemií mě nejlepším žákem školy - <a class="text-white" target="_blank" href="https://www.mb-net.cz/nejlepsi-zaci-a-studenti-se-dockali-oceneni/d-65357">odkaz na příspěvek</a><small><a class="text-white" target="_blank" href="assets/sbor-bratri-def.png" style="margin-left: 3vh">Zobrazit foto</a></small></p></li>
            <li><p>V 1. a 2. ročníku jsem měl nejlepší prospěch z celého ročníku, nevím, jak to bylo možné - <a class="text-white" target="_blank" href="https://boleslavsky.denik.cz/galerie/boleslavska-prumyslovka-ohodnotila-nejlepsi-studenty.html?photo=12&back=2179985305-174-4">odkaz na příspěvek</a><small><a class="text-white" target="_blank" href="assets/predavani-def.png" style="margin-left: 3vh">Zobrazit foto</a></small><br><small>Pak se to už přestalo řešit - byla distanční výuka</small></p></li>
            <li><p>Maturoval jsem po 1,5 roce distanční výuky</p></li>
            <li><p>Občas si něco zahraju (WoW TBC Classic, Starcraft II, Mario Kart 8...) </p></li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
