<div class="sidenav">
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div>

<div class="main">
    ...
</div>
<!--
<div class="container">
    <h1 class="mt-2">Profil</h1>
    <hr>
    <div class="navbar">
        <div>
            <h2>{{ roleTextFormat() }}</h2>
            <p>Poslední přihlášení: {{ currentUser.last_login | date: 'dd/MM/YYYY HH:mm:ss' }}</p>
        </div>
        <div>
            <p>Uživatelské jméno: {{ currentUser.username }} </p>
            <p> {{ currentUser.name }} </p>
        </div>
    </div>
    <hr>
    <div *ngIf="isAdmin() || isEditor()">
        <p *ngFor="let article of articleList">
            {{ article.title }}
        </p>
    </div>
</div>
-->